name: Build, Push and Deploy to EKS

on:
  push:
    branches:
      - main

permissions:
  id-token: write   # Required for OIDC
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v1



      - name: Release new version
        id: release
        run: |
          bash ./scripts/git_update.sh -v patch 
        # Update argument accordingly major, minor, patch

      - name: Build, tag, and push Docker image to Amazon ECR
        env:
          IMAGE_TAG: ${{ steps.release.outputs.new-tag }}
          ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          
        run: |
          docker build -t $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG .
          docker push $ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG
      
      
      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --name ${{ secrets.EKS_CLUSTER_NAME }} \
            --region ${{ secrets.AWS_REGION }}

      - name: Deploy to EKS
        env:
          IMAGE_TAG: ${{ steps.release.outputs.new-tag }}
          ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
        run: |
          kubectl set image deployment/${{ secrets.K8S_DEPLOYMENT_NAME }} \
            "*=$ECR_REGISTRY/${{ secrets.ECR_REPOSITORY }}:$IMAGE_TAG" \
            --namespace ${{ secrets.K8S_NAMESPACE }}

          kubectl rollout status deployment/${{ secrets.K8S_DEPLOYMENT_NAME }} \
            --namespace ${{ secrets.K8S_NAMESPACE }} \
            --timeout=120s